[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
psycopg2 = "*"
django = "*"
django-allauth = "*"
whitenoise = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
crispy-bootstrap4 = "*"
celery = "*"
redis = "*"
django-celery-results = "*"
django-celery-beat = "*"

[dev-packages]

[requires]
python_version = "3.11"
