{% extends "_base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/description.css' %}">
<h3 class="my-4 border-bottom pb-1">Order Details</h3>
<div class="col-md-9">
    <div class="table">
<table class="table-bordered table">
    <thead>
    <tr>
        <th>Product</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Platinum</td>
        <td>{{price}}€</td>
    </tr>
    </tbody>
</table>
<table class="table-bordered table">
    <thead>
    <tr>
        <th>Description of the Logo:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td id="description">{{name}}</td>
    </tr>
    </tbody>
</table>
</div>
</div>
<button id="buy_platinum_button" type="button" class="buy-button btn btn-lg btn-block btn-outline-primary" value="product_platinum">Go to the Checkout page</button>
{%endblock %}